@charset "UTF-8";

/*Typical Device Breakoint
----------------------------
Pequenas telas: até 600px
Celular: 600px até 768px
Tablet: 769px até 992px
Desktop: 993px até 1200px
Grandes Telas: acima de 1200
*/

@media screen and (min-width: 769px) and (max-width: 992px) {
  body { /*TABLET*/
    background-image: linear-gradient(to top, #49a09d, #5f2c82);
  }

  #login {
    width: 80vw;
    height: 260px;
  }

  #imagem {
    float: left;
    width: 40%;
    height: 100%;
  }

  #formulario {
    float: right;
    width: 60%;
  }
}

@media screen and (min-width: 993px) and (max-width: 1200px) {
  body { /*DESKTOP*/
    background-image: linear-gradient(to top, #49a09d, #5f2c82);
  }

  #login {
    width: 80vw;
    height: 297px;
  }

  #imagem {
    float: right;
    width: 40%;
    height: 100%;
  }

  #formulario {
    float: left;
    width: 60%;
  }

  #formulario > p {
    font-size: 1.2em;
  }
}

@media screen and (min-width: 1201px) {
  body { /*TELAS GRANDES*/
    background-image: linear-gradient(to top, #49a09d, #5f2c82);
  }

  #login {
    width: 60vw;
    height: 310px;
  }

  #imagem {
    float: right;
    width: 40%;
    height: 100%;
  }

  #formulario {
    float: left;
    width: 60%;
  }

  #formulario > h1 {
    font-size: 2em;
  }

  #formulario > p {
    font-size: 1.1em;
  }
}